
body{

    width:100vw;
    height: 100vh;
    position: absolute;
}
.pi{
    position: absolute;
    width:100vw;
    height: 100vh;
    

}
.pic{
    position: absolute;
    width:100vw;
    height: 100vh;
    background-repeat: no-repeat;

}
.y1{

    font-family: Bubblegum Sans;
    height: 8em;
    margin-bottom: 20em;
   
   position: absolute;
   
}
.y{

    font-size: 33px;
    margin: 350px auto 0  770px;
width: 30px;
height: 20px;
text-align: center;

position: absolute;


}
.yy{
    
    width: 4em;
height: 2em;
font-size: 33px;
margin: 350px auto 0  970px;
position: absolute;

}
.yyy{
   
    width: 6em;
    height: 2em;
    font-size: 33px;
    margin: 350px auto 0  1150px;
    
position: absolute;



}
.z{
padding: 5px;
   position:absolute;
    font-size: 70px;
    margin: 90px auto 0  790px;
    font-family:Rubik Moonrocks;
    
  
}
.z:hover{
    color: #b9a495;
}
.b{
    width: 150px;
    height:80px;
    font-weight:bold 700;
    border-radius: 15px;
    position: absolute;
    font-size: 150%;
    font-family: 'Barlow', sans-serif;
    

}
.start{
padding: 0%;
    background-color: transparent;
    color: #b9a495;
    margin:450px auto auto 750px;
    border: solid #b9a495;

 
    
}
.stop{

    background-color: transparent;
    margin:450px auto auto 950px;
    border: solid #b9a495;
    color: #b9a495;
 
}
.restart{

    background-color:transparent;
    margin: 450px auto auto 1150px;
    color: #b9a495;
    border: solid #b9a495;
    
   
    
}
.start:hover{

    background-color: #b9a495;
    color:black;
    border: solid;
}
.stop:hover{

    background-color: #b9a495;
    color:black;
    border: solid;
}
.restart:hover{
    background-color: #b9a495;
    color:black;
    border: solid;
    
}
.ti{
 
  width: 550px;
  height: 130px;
    margin: 110px auto 0em 750px;
    font-size: 40px;
    align-self: center;
    position:absolute;
    
    
}
.ti1{
    text-align: center;
    padding: 0.5em;
    margin: 110px auto 0  11px;
    width: 50px;
    height: 54px;
    position: absolute;
    border: dashed;
    border-radius: 15em;
    font-size: 50px;
}
.ti2{
    text-align: center;
    padding: 0.5em;
    margin: 110px auto auto 215px;
    width: 50px;
    height: 54px;
    position: absolute;
    border: dashed;
    border-radius: 15em;
    font-size: 50px;
}
.ti3{
    text-align: center;
   
    padding: 0.5em;
    margin: 110px auto auto 415px;
    width: 50px;
    height: 54px;
    position: absolute;
 border: dashed;
 border-radius: 15em;
    font-size: 50px;
}